<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=username%>'s Daily Planner</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/styles2.css">
</head>

<body>

<h1 class="center"><%=username%>'s Daily Planner</h1>

<div class="date-wrapper">
    <p><b>Date:</b> <%=date%></p>
</div>

<div class="container2">
    <div class="goal-column">
        <p><b>Goal:</b> <%=goal%></p>
    </div>
    <div class="time-column">
        <p><b>Time:</b> <%=time%></p>
        <p><b>Session:</b> <%=session%></p>
    </div>
</div>

</body>

</html>